<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Own Medical</title>
    <link rel="stylesheet" href="/styles/med.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
   
</head>
<body>
    <header class="page-header">
        <div class="page_logo"><i class="fa-solid fa-truck-medical"></i>
        <h2>DotMeds</h2>
        </div>
        <div class="page_search"> <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search for medical">
            <button type="submit">Search</button>
        </form></div> 
        <div class="Upload"><i class="fa-solid fa-file-arrow-up"></i>
        <a href="Upload">Upload</a>
        </div>
        <div class="offer"><i class="fa-solid fa-tag"></i>
            <a href="Offers">Offers</a>
        </div>
        <div class="cart"><i class="fa-solid fa-cart-shopping"></i>
            <a href="Cart">Cart</a>
        </div class = "GetSigned">
        <a href="http://localhost:3000/signup"><div id="LoginButton" class="sign_in"><i class="fa-solid fa-user-plus"></i>
            Sign in/Sign up
        </div></a>
        
    </header>
    <p>
  <a href="Covid Essentials">Covid Essentials</a> <a href=" Diabetes "> Diabetes</a> <a href="Cardiac Care">Cardiac Care</a>  <a href="stomach Care">Stomach Care</a> <a href=" Ayurvedic"> Ayurvedic</a>  <a href="Homeopathy">Homeopathy</a>  <a href="Fitness">Fitness</a> <a href="Mom & Baby Devices">Mom & Baby Devices</a> <a href="Surgicals ">Surgicals </a> <a href="Sexual">Sexual</a>  <a href="Wellness">Wellness</a> <a href="Treatments Skin Care Personal Care">Treatments Skin Care Personal Care</a>
  </p>

<div class="sliding">
    <button class="sliding-btn prev">&#10094;</button>
    <div class="sliding-images">
        <img src="https://mercury.akamaized.net/i/b21032de0de0ece8e5f53dacc044c770_200939_0.jpg" alt="add_image_1">
        <img src="https://mercury.akamaized.net/i/e79da7dbff64419b203841851de70768_201575_0.jpg" alt="add_image_2">
        <img src="https://mercury.akamaized.net/i/385934785de15e946c25cc09b4c2ff93_278458_0.jpg" alt="add_image_3">
        <img src="https://mercury.akamaized.net/i/2c3c5243156be686e40f695387642a5f_100354_0.png" alt="add_image_4">
        <img src="https://mercury.akamaized.net/i/a923f985a42f5d331fc6ef69ed777365_247824_0.jpg" alt="add_image_5">
    </div>
    <button class="sliding-btn next">&#10095;</button>
</div>

<div class="adds-box">
    <div class="box-1"><img src="https://cdn.vectorstock.com/i/2000v/19/79/health-care-medical-logo-design-pharmacy-vector-33851979.avif" alt="image1">
        <h2>Order Medicine</h2>
    <h4>Save Upto 25% off</h4>
</div>

<div class="box-2"><img src="https://cdn.vectorstock.com/i/1000x1000/06/98/abstract-boutique-logo-symbol-vector-27040698.webp" alt="image2">
    <h2>Beauty</h2>
<h4>Save Upto 40% off</h4>
</div>

<div class="box-2"><img src="https://cdn.vectorstock.com/i/2000v/11/62/abstract-lotus-flower-and-people-logo-design-vector-50691162.avif" alt="image2">
    <h2>Wellness</h2>
<h4> Upto 60% off</h4>
</div>
</div>

<h1>Payment Partner Offers </h1>

<div class="payment-box">
    <div class="box-1"><img src="https://cdn.vectorstock.com/i/2000v/94/04/lock-creative-symbol-concept-cyber-security-vector-23569404.avif" alt="image1">
        <h3>Get up to Rs. 300 Paytm Cashback....</h3>
    <h5></h5>
</div>

<div class="box-2"><img src="https://cdn.vectorstock.com/i/1000x1000/36/92/cyber-security-design-with-keyhole-in-shield-logo-vector-50073692.webp" alt="image2">
    <h3>Get assured Savings of up to Rs. 200* + Earn up to 16X rewards*</h3>

</div>

<div class="box-2"><img src="https://cdn.vectorstock.com/i/2000v/48/12/cybersecurity-icon-on-white-vector-21344812.avif" alt="image2">
    <h3>Get assured Savings of up to Rs. 150* + Earn up to 16X rewards*</h3>
<!-- <h4> Upto 60% off</h4> -->
</div>
</div>

<div class="membership">
    <img src="https://e7.pngegg.com/pngimages/1003/165/png-clipart-club-penguin-island-the-walt-disney-company-video-game-star-membership-logo-game-ribbon.png" alt="image">
<h2>Dotmeds First Membership</h2>
<h5>Get special discounts and offer on Dotmeds services.</h5>
<i class="fa-solid fa-bolt">starting at $149</i>
<button>Explore plans</button>
</div>

<div class="sliding2">

    <button class="sliding-btn prev">&#10094;</button>
    <div class="sliding2-images">
        <img src="https://mercury.akamaized.net/i/3a022bfab7db21bb50955e538f4e3373_277258_0.jpg" alt="add_image1">
        <img src="https://mercury.akamaized.net/i/e9a1b9abc95bba3f91e9b9686fd95f1b_58400_0.jpg" alt="add_image2">
        <img src="https://mercury.akamaized.net/i/f6f7d098a24ddc1272d13e60439b1d74_246501_0.jpg" alt="add_image3">
        <img src="https://mercury.akamaized.net/i/8770e37a4ecacc039a081de7dbc399e0_58496_0.jpg" alt="add_image4">
        <img src="https://mercury.akamaized.net/i/1722a32b849ec9fcd0de0d0aba8e0392_269111_0.jpg" alt="add_image5">
        <img src="https://mercury.akamaized.net/i/a70c3fc7b40e437eb70b0ec1e97fe20e_68894_0.jpg" alt="add_image6">
        <img src="https://mercury.akamaized.net/i/f0347160331070c37035d24dba7719c5_273250_0.jpg" alt="add_image7">
        <img src="https://mercury.akamaized.net/i/12c877f45327b8bcdb06ee2eaee73ea5_260266_0.jpg" alt="add_image8">
        <img src="https://mercury.akamaized.net/i/cc88dd1ae8492659ca3904c3e044538a_58409_0.jpg" alt="add_image9">
        <img src="https://mercury.akamaized.net/i/9670f050d93c394710c1a0afb68b2d52_262175_0.jpg" alt="add_image10">
        <img src="https://mercury.akamaized.net/i/12c877f45327b8bcdb06ee2eaee73ea5_260266_0.jpg" alt="add_image11">
        <img src="https://mercury.akamaized.net/i/e955733e53fa3187bc79c39171cd7d3f_271448_0.jpg" alt="add_image12">
        <img src="https://mercury.akamaized.net/i/dee8a6042bbfe466a629c728e9ecd168_58424_0.jpg" alt="add_image13">
        <img src="https://mercury.akamaized.net/i/0875d21fcc4d445f9b45291a10a5adf6_232628_0.jpg" alt="add_image14">
        <img src="https://mercury.akamaized.net/i/6b479fc00454f0f1b5eced3f1a49d081_252324_0.jpg" alt="add_image15">
        <img src="https://mercury.akamaized.net/i/55342975b9aa8e6610d0525d4320029c_69580_0.jpg" alt="add_image16">
        <img src="https://mercury.akamaized.net/i/fadb859e09c366fc0df1c87d578ed5b6_261682_0.jpg" alt="add_image17">
        <img src="https://mercury.akamaized.net/i/3a022bfab7db21bb50955e538f4e3373_277258_0.jpg" alt="add_image18">
        <img src="https://mercury.akamaized.net/i/e9a1b9abc95bba3f91e9b9686fd95f1b_58400_0.jpg" alt="add_image19">
    </div>
    <button class="sliding-btn next">&#10095;</button>
</div>

<div class="bestseller">
    <div class="product">
    <img src="https://www.netmeds.com/images/product-v1/150x150/354458/accu_chek_active_test_strip_100_s_0.jpg" alt="">
        <h2>Accu-Chek Instant</h2>
        <h2>Rs 1223.21</h2>
        <h3>GET 21% off</h3>
        <button>ADD TO CART</button>
</div>

<div class="product2">
    <img src="https://www.netmeds.com/images/product-v1/150x150/804268/virginia_care_spento_himen_restore_virginity_pack_of_2_0_2.jpg" alt="">
        <h2>Virginia Care Spento Hime.....</h2>
        <h2>Rs 2983.21</h2>
        <h3>GET 25% off</h3>
        <button>ADD TO CART</button>
</div>

<div class="product3">
    <img src="https://www.netmeds.com/images/product-v1/150x150/412720/omnigel_geltopical_75gm_54223_0_3.jpg" alt="">
        <h2>Omnigel.....</h2>
        <h2>Rs 183.21</h2>
        <h3>GET 45% off</h3>
        <button>ADD TO CART</button>
</div>

<div class="product4">
    <img src="https://www.netmeds.com/images/product-v1/150x150/357753/d_protin_chocolate_powder_500_gm_0.jpg" alt="">
        <h2>D protin Chocolate.....</h2>
        <h2>Rs 590.51</h2>
        <h3>GET 45% off</h3>
        <button>ADD TO CART</button>
</div>
<div class="product5">
    <img src="https://www.netmeds.com/images/product-v1/150x150/813592/dr_morepen_gluco_one_blood_glucose_test_strips_bg03_50_s_58318_0_4.jpg" alt="">
        <h2>Dr.Morepen GlucoOne.....</h2>
        <h2>Rs 590.51</h2>
        <h3>GET 45% off</h3>
        <button>ADD TO CART</button>
</div>
<div class="product6">
    <img src="https://www.netmeds.com/images/product-v1/600x600/822661/durex_condoms_extra_time_10s_0_4.jpg" alt="">
        <h2>Durex Condoms.....</h2>
        <h2>Rs 270.51</h2>
        <h3>GET 3% off</h3>
        <button>ADD TO CART</button>
</div>
<div class="product7">
    <img src="https://www.netmeds.com/images/product-v1/150x150/388215/volini_spray_100gm_46243_0_2.jpg" alt="">
        <h2>Volini Spray 100gm</h2>
        <h2>Rs 400.51</h2>
        <h3>GET 15% off</h3>
        <button>ADD TO CART</button>
</div>
<div class="product8">
    <img src="https://www.netmeds.com/images/product-v1/600x600/850948/kamasutra_condoms_dotted_20_s_0.jpg" alt="">
        <h2> Kamasutra Condoms - Dotted 20's </h2>
        <h2>Rs 150.51</h2>
        <h3>GET 2% off</h3>
        <button>ADD TO CART</button>
</div>
</div>

<div class="newArrival">
    <div class="kit">
        <img src="https://www.netmeds.com/images/category/prod/thumb/facial_kits.png" alt="img1">
        <img src="https://www.netmeds.com/images/category/prod/thumb/lip_care.png" alt="img1">
        <img src="https://www.netmeds.com/images/category/v1/525/thumb/body_care_4.png" alt="">
        <img src="https://www.netmeds.com/images/category/prod/thumb/hair_care.png" alt="">
        
        </div>

        <div class="newArrival2">
        <img src="https://www.netmeds.com/images/category/prod/thumb/skin_care.png" alt="">
        <img src="https://www.netmeds.com/images/category/prod/thumb/day_cream.png" alt="">
        <img src="https://www.netmeds.com/images/category/prod/thumb/razors_cartridges.png" alt="">
        <img src="https://www.netmeds.com/images/category/prod/thumb/beard_wash.png" alt="">
    </div>

    <div class="downpart">
        <img src="https://assets.pharmeasy.in/apothecary/images/downloadBanner.webp?dim=1440x0&q=100" alt="banner">
        <h2>Simplifying Healthcare Impacting Lives</h2>
        <h3>Download the App for Free</h3>
        
            <img src="https://assets.pharmeasy.in/apothecary/images/googlePlay.svg?dim=360x0" alt="Google Play">
            <img src="https://assets.pharmeasy.in/apothecary/images/appStore.svg?dim=360x0" alt="App Store">
        
    </div>
    




    <!-- footerdesgin -->
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="page_logo"><i class="fa-solid fa-truck-medical"></i>
                <h2>DotMeds</h2> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->
<script src="/scripts/med.js"></script>

</body>

</html>